#footer {
  background: #F2F4F8; }
  #footer .container.has-pd-ct {
    padding-top: 25px;
    padding-bottom: 25px; }
  #footer .title-ft h4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: #282828; }
  #footer .content-ft {
    padding-top: 20px; }
    #footer .content-ft p {
      font-size: 13px;
      font-weight: 400;
      color: #282828;
      line-height: 22px; }
  #footer .end-ft {
    background: #EAEDF2; }
    #footer .end-ft .container {
      padding-top: 7px;
      padding-bottom: 7px; }
    #footer .end-ft ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
      #footer .end-ft ul li {
        margin-right: 25px; }
        #footer .end-ft ul li:last-child {
          margin-right: unset; }
        #footer .end-ft ul li a {
          font-size: 13px;
          color: #004370; }
        #footer .end-ft ul li p {
          font-size: 13px;
          color: #282828; }
  #footer a.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 50px;
    right: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #004370 url("../images_icon/iconmonstr-arrow-66-16.png") no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    z-index: 999; }
  #footer a.cd-top.cd-is-visible, #footer a.cd-top.cd-fade-out, #footer .no-touch a.cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s; }
  #footer a.cd-top, #footer a.cd-top:visited, #footer a.cd-top:hover {
    color: #CCCCCC;
    text-decoration: none; }
  #footer a.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1; }
  #footer a.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: 1; }

/*# sourceMappingURL=footer.css.map */
