@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  img {
    object-fit: fill;
  }
}

@media only screen and (max-width) {
  html {
    overflow-x: hidden;
  }
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

@font-face {
  font-family: 'title-bold';
  src: url("../fonts/font/SFUFuturaBold_0.TTF");
}
.owl-carousel .item {
  margin-bottom: 10px;
}
.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: unset;
}
.owl-carousel.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  background-color: #343A40;
}
.owl-carousel.owl-theme .owl-dots .owl-dot span {
  margin: 5px 5px;
  background: #FFFFFF;
}
.owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
  background-color: #343A40;
}
.owl-carousel:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}
.owl-carousel .owl-nav {
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out;
  margin-top: unset;
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav {
    opacity: 1;
    visibility: visible;
  }
}
.owl-carousel .owl-nav button {
  background-color: none;
  border: none;
  outline: none;
  font-size: 50px;
  z-index: 4;
}
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: -25px;
  font-size: 50px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav button.owl-prev {
    left: -20px;
  }
}
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  right: -25px;
  font-size: 50px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav button.owl-next {
    right: -20px;
  }
}

.top-bar {
  background: #fff;
  box-shadow: 0 -4px 12px;
  padding: 5px 0px;
}
@media only screen and (max-width: 1024px) {
  .top-bar .container {
    justify-content: center !important;
  }
  .top-bar .moblie-bar {
    display: block !important;
  }
}

.header-main .container {
  padding: 15px 0px;
}

.header-bottom {
  background: #004370;
}
@media only screen and (max-width: 1024px) {
  .header-bottom {
    display: none;
  }
}
.header-bottom .main-nav-bottom ul {
  display: flex;
  position: relative;
}
.header-bottom .main-nav-bottom ul li {
  line-height: 42px;
  transition: .2s ease-out;
}
.header-bottom .main-nav-bottom ul li.has-child:hover a .dot-mn {
  transform: rotateY(90deg);
  opacity: 0;
  visibility: hidden;
}
.header-bottom .main-nav-bottom ul li.has-child:hover a::before {
  content: "\f00d";
  font-family: "fontawesome";
  font-size: 20px;
  position: absolute;
  left: 9px;
  font-weight: 300;
  transform: rotateY(0deg);
  opacity: 1;
  visibility: visible;
}
.header-bottom .main-nav-bottom ul li.has-child:hover ul {
  opacity: 1;
  visibility: visible;
  transform: rotateY(0deg);
}
.header-bottom .main-nav-bottom ul li.has-child a {
  position: relative;
}
.header-bottom .main-nav-bottom ul li.has-child a .dot-mn {
  display: inline-block;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  transition: .3s ease-out;
}
.header-bottom .main-nav-bottom ul li.has-child a::before {
  content: "\f00d";
  font-family: "fontawesome";
  font-size: 20px;
  position: absolute;
  left: 9px;
  font-weight: 300;
  transition: .3s ease-out;
  opacity: 0;
  visibility: hidden;
  transform: rotateX(90deg);
}
.header-bottom .main-nav-bottom ul li.has-child ul {
  position: absolute;
  width: 100%;
  left: 0;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px 1px;
  border-width: 1px 1px 1px;
  border-style: none solid solid;
  border-color: #c6c6c6 #c6c6c6 #c6c6c6;
  border-image: initial;
  border-top: none;
  transition: .3s ease-out;
  transform-origin: 100% 0%;
  transform: rotateX(90deg);
}
.header-bottom .main-nav-bottom ul li.has-child ul li {
  font-size: 16px;
  color: #333333;
  font-weight: 700;
  line-height: 22px;
}
.header-bottom .main-nav-bottom ul li.has-child ul li a::before {
  display: none;
}
.header-bottom .main-nav-bottom ul li.has-child ul li:hover {
  background: unset;
}
.header-bottom .main-nav-bottom ul li.has-child ul li.special-li ul {
  padding-left: 20px;
}
.header-bottom .main-nav-bottom ul li.has-child ul li.special-li ul li {
  list-style-type: square;
  color: #004370;
}
.header-bottom .main-nav-bottom ul li.has-child ul li.special-li ul li a {
  color: #004370;
}
.header-bottom .main-nav-bottom ul li.has-child ul li ul {
  flex-direction: column;
  padding: 20px 0px 0px 0px;
  position: relative;
  box-shadow: none;
  border: none;
}
.header-bottom .main-nav-bottom ul li.has-child ul li ul li a {
  font-size: 13px;
  color: #535353;
  text-transform: unset;
  display: inline-block;
  transition: .3s ease-out;
}
.header-bottom .main-nav-bottom ul li.has-child ul li ul li a:hover {
  text-decoration: underline;
}
.header-bottom .main-nav-bottom ul li:hover {
  background: #0064A6;
}
.header-bottom .main-nav-bottom ul li a {
  display: block;
  font-weight: 400;
  color: #fefefe;
  text-transform: uppercase;
  font-size: 13px;
  padding: 0px 7.5px;
}

#footer {
  background: #F2F4F8;
}
#footer .container.has-pd-ct {
  padding-top: 25px;
  padding-bottom: 25px;
}
#footer .title-ft h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  color: #282828;
}
#footer .content-ft {
  padding-top: 20px;
}
#footer .content-ft p {
  font-size: 13px;
  font-weight: 400;
  color: #282828;
  line-height: 22px;
}
#footer .end-ft {
  background: #EAEDF2;
}
#footer .end-ft .container {
  padding-top: 7px;
  padding-bottom: 7px;
}
#footer .end-ft ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#footer .end-ft ul li {
  margin-right: 25px;
}
#footer .end-ft ul li:last-child {
  margin-right: unset;
}
#footer .end-ft ul li a {
  font-size: 13px;
  color: #004370;
}
#footer .end-ft ul li p {
  font-size: 13px;
  color: #282828;
}
#footer a.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 50px;
  right: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #004370 url("../images_icon/iconmonstr-arrow-66-16.png") no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  z-index: 999;
}
#footer a.cd-top.cd-is-visible, #footer a.cd-top.cd-fade-out, #footer .no-touch a.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
#footer a.cd-top, #footer a.cd-top:visited, #footer a.cd-top:hover {
  color: #CCCCCC;
  text-decoration: none;
}
#footer a.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
#footer a.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
}

html.hc-nav-yscroll {
  overflow-y: scroll;
}

body.hc-nav-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  min-height: 100%;
}

.hc-offcanvas-nav {
  visibility: hidden;
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 9999;
}

.hc-offcanvas-nav.is-ios * {
  cursor: pointer !important;
}

.hc-offcanvas-nav .nav-container {
  position: fixed;
  z-index: 9998;
  top: 0;
  width: 280px;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  transition: transform .4s ease;
}

.hc-offcanvas-nav .nav-wrapper {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overscroll-behavior: none;
  box-sizing: border-box;
}

.hc-offcanvas-nav .nav-content {
  height: 100%;
  max-height: 100vh;
}

.hc-offcanvas-nav .nav-wrapper-0 > .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hc-offcanvas-nav li {
  position: relative;
  display: block;
}

.hc-offcanvas-nav li.level-open > .nav-wrapper {
  visibility: visible;
}

.hc-offcanvas-nav input[type="checkbox"] {
  display: none;
}

.hc-offcanvas-nav label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
}

.hc-offcanvas-nav a {
  position: relative;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
}

.hc-offcanvas-nav a,
.hc-offcanvas-nav a:hover {
  text-decoration: none;
}

.hc-offcanvas-nav.disable-body::after,
.hc-offcanvas-nav .nav-wrapper::after {
  content: '';
  position: fixed;
  z-index: 9990;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease .4s, opacity .4s ease;
}

.hc-offcanvas-nav.disable-body.nav-open::after,
.hc-offcanvas-nav .sub-level-open::after {
  visibility: visible;
  opacity: 1;
  transition-delay: .05s;
}

.hc-offcanvas-nav:not(.nav-open)::after {
  pointer-events: none;
}

.hc-offcanvas-nav.nav-levels-expand .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav.nav-levels-expand .nav-wrapper::after {
  display: none;
}

.hc-offcanvas-nav.nav-levels-expand ul .nav-wrapper {
  min-width: 0;
  max-height: 0;
  overflow: hidden;
  transition: height 0s ease .4s;
}

.hc-offcanvas-nav.nav-levels-expand .level-open > .nav-wrapper {
  max-height: none;
}

.hc-offcanvas-nav.nav-levels-overlap .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav.nav-levels-overlap ul .nav-wrapper {
  position: absolute;
  z-index: 9999;
  top: 0;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s ease .4s, transform .4s ease;
}

.hc-offcanvas-nav.nav-levels-overlap ul li.nav-parent {
  position: static;
}

.hc-offcanvas-nav.nav-levels-overlap ul li.level-open > .nav-wrapper {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: transform .4s ease;
}

.hc-offcanvas-nav.nav-position-left {
  left: 0;
}

.hc-offcanvas-nav.nav-position-left .nav-container {
  left: 0;
  transform: translate3d(-280px, 0, 0);
}

.hc-offcanvas-nav.nav-position-left.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}

.hc-offcanvas-nav.nav-position-right {
  right: 0;
}

.hc-offcanvas-nav.nav-position-right .nav-container {
  right: 0;
  transform: translate3d(280px, 0, 0);
}

.hc-offcanvas-nav.nav-position-right.nav-levels-overlap li .nav-wrapper {
  right: 0;
  transform: translate3d(100%, 0, 0);
}

.hc-offcanvas-nav.nav-position-top {
  top: 0;
}

.hc-offcanvas-nav.nav-position-top .nav-container {
  top: 0;
  width: 100%;
  height: auto;
  transform: translate3d(0, -100%, 0);
}

.hc-offcanvas-nav.nav-position-top.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(0, -100%, 0);
}

.hc-offcanvas-nav.nav-position-bottom {
  top: auto;
  bottom: 0;
}

.hc-offcanvas-nav.nav-position-bottom .nav-container {
  top: auto;
  bottom: 0;
  width: 100%;
  height: auto;
  transform: translate3d(0, 100%, 0);
}

.hc-offcanvas-nav.nav-position-bottom.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(0, 100%, 0);
}

.hc-offcanvas-nav.nav-open[class*='hc-nav-'] div.nav-container {
  transform: translate3d(0, 0, 0);
}

.hc-nav-trigger {
  position: absolute;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  top: 15px;
  left: 12px;
  z-index: 9980;
  width: 30px;
  min-height: 24px;
  font-size: 20px;
  background: none;
}

.hc-nav-trigger span {
  width: 30px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transform-origin: 50% 50%;
}

.hc-nav-trigger span,
.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
  display: block;
  position: absolute;
  left: 0;
  height: 4px;
  background: #34495E;
  transition: all .2s ease;
}

.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
  content: '';
  width: 100%;
}

.hc-nav-trigger span::before {
  top: -10px;
}

.hc-nav-trigger span::after {
  bottom: -10px;
}

.hc-nav-trigger.toggle-open span {
  background: rgba(0, 0, 0, 0);
  transform: rotate(45deg);
}

.hc-nav-trigger.toggle-open span::before {
  transform: translate3d(0, 10px, 0);
}

.hc-nav-trigger.toggle-open span::after {
  transform: rotate(-90deg) translate3d(10px, 0, 0);
}

.hc-offcanvas-nav::after,
.hc-offcanvas-nav .nav-wrapper::after {
  background: rgba(0, 0, 0, 0.3);
}

.hc-offcanvas-nav .nav-container,
.hc-offcanvas-nav .nav-wrapper,
.hc-offcanvas-nav ul {
  background: #336ca6;
}

.hc-offcanvas-nav h2 {
  font-size: 19px;
  font-weight: normal;
  text-align: left;
  padding: 20px 17px;
  color: #1b3958;
}

.hc-offcanvas-nav a {
  padding: 14px 17px;
  font-size: 15px;
  color: #fff;
  z-index: 1;
  background: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #2c5d8f;
}

.hc-offcanvas-nav:not(.touch-device) a:hover {
  background: #31679e;
}

.hc-offcanvas-nav ul:first-of-type:not(:first-child) > li:first-child:not(.nav-back):not(.nav-close) > a {
  border-top: 1px solid #2c5d8f;
  margin-top: -1px;
}

.hc-offcanvas-nav li {
  text-align: left;
}

.hc-offcanvas-nav li.nav-close a,
.hc-offcanvas-nav li.nav-back a {
  background: #2c5d8f;
  border-top: 1px solid #295887;
  border-bottom: 1px solid #295887;
}

.hc-offcanvas-nav li.nav-close a:hover,
.hc-offcanvas-nav li.nav-back a:hover {
  background: #2b5c8d;
}

.hc-offcanvas-nav li.nav-parent a {
  padding-right: 58px;
}

.hc-offcanvas-nav li.nav-close span,
.hc-offcanvas-nav li.nav-parent span.nav-next,
.hc-offcanvas-nav li.nav-back span {
  width: 45px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  cursor: pointer;
  transition: background .2s ease;
}

.hc-offcanvas-nav li.nav-close span::before,
.hc-offcanvas-nav li.nav-close span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.hc-offcanvas-nav li.nav-close span::before {
  margin-left: -9px;
  transform: rotate(135deg);
}

.hc-offcanvas-nav li.nav-close span::after {
  transform: rotate(-45deg);
}

.hc-offcanvas-nav a[href]:not([href="#"]) > span.nav-next {
  border-left: 1px solid #2c5d8f;
}

.hc-offcanvas-nav span.nav-next::before,
.hc-offcanvas-nav li.nav-back span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -2px;
  box-sizing: border-box;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform-origin: center;
}

.hc-offcanvas-nav span.nav-next::before {
  transform: translate(-50%, -50%) rotate(135deg);
}

.hc-offcanvas-nav li.nav-back span::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hc-offcanvas-nav.nav-position-left.nav-open .nav-wrapper {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-right.nav-open .nav-wrapper {
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-right span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hc-offcanvas-nav.nav-position-right li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(135deg);
}

.hc-offcanvas-nav.nav-position-top.nav-open .nav-wrapper {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-top span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.hc-offcanvas-nav.nav-position-top li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hc-offcanvas-nav.nav-position-bottom.nav-open .nav-wrapper {
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-bottom span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hc-offcanvas-nav.nav-position-bottom li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul .nav-wrapper,
.hc-offcanvas-nav.nav-levels-none .nav-container ul .nav-wrapper {
  box-shadow: none;
  background: transparent;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul h2,
.hc-offcanvas-nav.nav-levels-none .nav-container ul h2 {
  display: none;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul ul a,
.hc-offcanvas-nav.nav-levels-none .nav-container ul ul a {
  font-size: 14px;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li,
.hc-offcanvas-nav.nav-levels-none .nav-container li {
  transition: background .3s ease;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open {
  background: #2e6296;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open a,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open a {
  border-bottom: 1px solid #295887;
}

.hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {
  background: #004370;
}

.hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav li.nav-back a {
  background: #2b5c8d;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.hc-offcanvas-nav a {
  border-bottom: 1px solid #fff;
  font-size: 13px;
  text-transform: uppercase;
}

.hc-offcanvas-nav h2 {
  font-weight: bold;
  color: #fff;
  font-size: 15px;
}

.hc-offcanvas-nav li.nav-close span::before, .hc-offcanvas-nav li.nav-close span::after {
  border-left: 0;
  width: 25px;
  height: 15px;
}

.hc-offcanvas-nav li.nav-close span::before {
  margin-left: -10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: -13px;
}

.hc-offcanvas-nav li.nav-close span::after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-top: -13px;
  margin-left: -1px;
}

.nav-close a {
  padding: 25px 15px;
}

.hc-offcanvas-nav h2 {
  text-transform: uppercase;
}

.the_content h2, .the_content h3, .the_content h4 {
  font-weight: bold;
  color: #666;
  margin-bottom: 1rem;
}
.the_content h6 {
  font-size: 16px;
}
.the_content h5 {
  font-size: 18px;
}
.the_content h4 {
  font-size: 22px;
}
.the_content h3 {
  font-size: 25px;
}
.the_content h2 {
  font-size: 27px;
  line-height: 1.5;
}
.the_content p {
  color: #666;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.the_content ul {
  list-style: disc;
  padding-left: 18px;
  padding-bottom: 5px;
}
.the_content ul li {
  color: #666;
  line-height: 1.5;
  margin-bottom: 10px;
}
.the_content ul li a {
  color: #ff5912;
}
.the_content ol {
  list-style: decimal;
  padding-left: 18px;
  padding-bottom: 5px;
}
.the_content ol li {
  color: #666;
  line-height: 1.5;
  margin-bottom: 10px;
}
.the_content ol li a {
  color: #ff5912;
}
.the_content blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eb2b2d;
}
.the_content blockquote p {
  margin: 0 !important;
}
.the_content code {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  font-size: .85rem;
  color: #e83e8c;
}
.the_content table > tbody > tr > td, .the_content table > tbody > tr > th, .the_content table > tfoot > tr > td, .the_content table > tfoot > tr > th, .the_content table > thead > tr > td, .the_content table > thead > tr > th {
  border: 1px solid #ddd;
  padding: 7px 10px;
}
.the_content iframe {
  margin: auto;
}
.the_content .syntaxhighlighter {
  padding: 10px 0;
}

/*04 keyframes */
@keyframes namdz {
  0% {
    animation: namdz 1s infinite ease-in-out;
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
}
.box-news-header {
  padding-left: 25px;
  padding-right: 25px;
}
.box-news-header .scrollbar-rail > .scroll-element .scroll-bar {
  background: #004370;
}
@media only screen and (max-width: 768px) {
  .box-news-header {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.box-news-header .news-hd-content {
  height: 150px;
  overflow-y: scroll;
  padding-right: 15px;
}
.box-news-header .title-news-hd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #F0F0F0;
  padding-bottom: 5px;
}
.box-news-header .title-news-hd h3 {
  font-size: 12px;
  text-transform: uppercase;
  color: #c90000;
}
.box-news-header .title-news-hd a {
  font-size: 12px;
  color: #666666;
  transition: .3s ease-out;
}
.box-news-header .title-news-hd a:hover {
  color: #CC0000;
}
.box-news-header .title-news-hd a:after {
  content: "\f101";
  font-family: "fontawesome";
  padding-left: 3.5px;
}
.box-news-header .blog-news-hd {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F0F0F0;
  padding: 8px 0px;
}
.box-news-header .blog-news-hd .time span {
  font-size: 12px;
  color: #666666;
}
.box-news-header .blog-news-hd .title-blog {
  margin-left: 15px;
  padding-left: 10px;
}
.box-news-header .blog-news-hd .title-blog a {
  font-size: 12px;
  font-weight: 700;
  color: #0b75b1;
  line-height: 16px;
  border-left: 1px solid #E4E4E4;
}

.blogs-divide-s {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
@media only screen and (max-width: 576px) {
  .blogs-divide-s {
    flex-direction: column;
  }
}
.blogs-divide-s .big-title {
  flex: 0 0 100%;
  padding-bottom: 15px;
}
.blogs-divide-s .big-title a {
  font-size: 23px;
  font-weight: 700;
  color: #1c1c1c;
  line-height: 30px;
}
.blogs-divide-s .box-text {
  flex: 0 0 50%;
  background: #ECF8FF;
  padding: 10px;
}
.blogs-divide-s .box-text p {
  font-size: 14px;
  color: #5f5f5f;
  line-height: 21px;
}
.blogs-divide-s .box-images {
  flex: 0 0 50%;
  height: 230px;
  max-width: 100%;
  overflow: hidden;
}
.blogs-divide-s .box-images img {
  width: 100%;
  height: 100%;
}

.blogs-box {
  margin-bottom: 20px;
}
.blogs-box.normal-cs:hover .box-text .title a {
  color: #004370;
}
.blogs-box.normal-cs .box-images {
  max-width: 100%;
  height: 145px;
  overflow: hidden;
}
.blogs-box.normal-cs .box-images img {
  width: 100%;
  height: 100%;
}
.blogs-box.normal-cs .box-text {
  padding-top: 10px;
}
.blogs-box.normal-cs .box-text .title a {
  font-size: 15px;
  font-weight: 600;
  color: #1c1c1c;
  line-height: 22px;
  transition: .3s ease-out;
}
.blogs-box.normal-cs-height {
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  position: relative;
}
.blogs-box.normal-cs-height::after {
  height: 4px;
  width: 98%;
  position: absolute;
  bottom: -5px;
  left: 3px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #f6f6f6;
  content: '';
  display: block;
}
.blogs-box.normal-cs-height:hover .box-text .title a {
  color: #004370;
}
.blogs-box.normal-cs-height .box-images {
  max-width: 100%;
  height: 145px;
  overflow: hidden;
}
.blogs-box.normal-cs-height .box-images img {
  width: 100%;
  height: 100%;
}
.blogs-box.normal-cs-height .box-text {
  padding: 10px;
}
.blogs-box.normal-cs-height .box-text .title a {
  font-size: 16px;
  font-weight: 600;
  color: #1c1c1c;
  line-height: 22px;
  transition: .3s ease-out;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 84px;
}
.blogs-box.normal-cs-height .box-text .infor-cate {
  padding-top: 15px;
}
.blogs-box.normal-cs-height .box-text .infor-cate span {
  font-size: 12px;
  font-weight: 400;
  color: #929292;
}
.blogs-box.vertical-blogs {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #F4F4F4;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 576px) {
  .blogs-box.vertical-blogs.res-single {
    flex-direction: column;
  }
  .blogs-box.vertical-blogs.res-single .box-text {
    padding-left: 0px;
    padding-top: 15px;
  }
}
.blogs-box.vertical-blogs.no-border-bt {
  margin-bottom: 30px;
  border-bottom: 1px solid unset;
}
.blogs-box.vertical-blogs.no-border-bt:last-child {
  margin-bottom: 30px;
}
.blogs-box.vertical-blogs.no-border-bt .box-text .desc span {
  font-size: 13px;
  color: #666666;
  font-weight: 300;
}
.blogs-box.vertical-blogs:last-child {
  border-bottom: unset;
  padding-bottom: unset;
  margin-bottom: unset;
}
.blogs-box.vertical-blogs:hover .box-images img {
  transform: scale(1.1);
}
.blogs-box.vertical-blogs:hover .box-text .title a {
  color: #0d78b7;
}
.blogs-box.vertical-blogs .box-images {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  flex: 0 0 35%;
}
.blogs-box.vertical-blogs .box-images img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  transition: .3s ease-out;
}
.blogs-box.vertical-blogs .box-images.single-height {
  height: 234px;
}
.blogs-box.vertical-blogs .box-images.single-height img {
  height: 100%;
}
.blogs-box.vertical-blogs .box-text {
  flex: 0 0 65%;
  padding-left: 18px;
}
.blogs-box.vertical-blogs .box-text .title a, .blogs-box.vertical-blogs .box-text .title p {
  color: #333333;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  transition: .3s ease-out;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blogs-box.vertical-blogs .box-text .title.bg-title a, .blogs-box.vertical-blogs .box-text .title.bg-title p {
  font-size: 23px;
  line-height: 30px;
}
.blogs-box.vertical-blogs .box-text .title.sm-title a, .blogs-box.vertical-blogs .box-text .title.sm-title p {
  font-size: 15px;
  color: #c3c3c3;
}
.blogs-box.vertical-blogs .box-text .cate {
  padding-top: 15px;
}
.blogs-box.vertical-blogs .box-text .cate a {
  font-size: 15px;
  color: #404f5d;
  font-weight: 500;
}
.blogs-box.vertical-blogs .box-text .cate .date-post {
  font-size: 13px;
  color: #929292;
}
.blogs-box.vertical-blogs .box-text .date {
  padding-top: 13px;
}
.blogs-box.vertical-blogs .box-text .date span {
  font-size: 14px;
  color: #999999;
  font-weight: 300;
}
.blogs-box.vertical-blogs .box-text .date span::before {
  content: "\f017";
  font-family: "fontawesome";
  padding-right: 5px;
}
.blogs-box.vertical-blogs .box-text .date span:first-child {
  padding-right: 20px;
}
.blogs-box.vertical-blogs .box-text .date span:last-child::before {
  content: "";
}
@media only screen and (max-width: 576px) {
  .blogs-box.vertical-blogs .box-text .date span {
    display: block;
  }
  .blogs-box.vertical-blogs .box-text .date span:last-child {
    padding-left: 0px;
    padding-top: 2px;
  }
  .blogs-box.vertical-blogs .box-text .date span:last-child::before {
    content: "";
  }
}
.blogs-box.vertical-blogs .box-text .desc {
  padding-top: 13px;
}
.blogs-box.vertical-blogs .box-text .desc span {
  font-size: 14px;
  color: #5f5f5f;
  font-weight: 400;
  line-height: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 63px;
}
.blogs-box.vertical-blogs .box-text .blog-see-more {
  padding-top: 17px;
}
.blogs-box.vertical-blogs .box-text .blog-see-more a {
  display: inline-block;
  padding: 10px 28px;
  font-size: 15px;
  color: #333333;
  background: #E4E4E4;
  transition: .3s ease-out;
}
.blogs-box.vertical-blogs .box-text .blog-see-more a:hover {
  background: #105B8B;
  color: #fff;
}

.form-spe-search {
  background: #fff;
  display: flex;
  border: 1px solid #D4D6D9;
  padding: 5px 4px;
}
.form-spe-search input {
  width: 100%;
  padding-left: 10px;
  border: none;
  outline: none;
  font-size: 13px;
}
.form-spe-search button {
  color: #fff;
  background: #575E6B;
}

.box-cate-sp {
  border: 1px solid #e4e4e4;
  position: relative;
  border-radius: 5px;
  margin-bottom: 25px;
}
.box-cate-sp .first-big .images-box {
  max-width: 100%;
  height: 209px;
  overflow: hidden;
}
.box-cate-sp .first-big .images-box img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.box-cate-sp .first-big .box-text {
  border-bottom: 1px dotted #CCCCCC;
  margin: 10px;
  padding-bottom: 12px;
}
.box-cate-sp .first-big .box-text .title a {
  font-size: 16px;
  line-height: 23px;
  color: #313131;
  font-weight: 700;
}
.box-cate-sp::after {
  height: 4px;
  width: 98%;
  position: absolute;
  bottom: -5px;
  left: 3px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #f6f6f6;
  content: '';
  display: block;
}
.box-cate-sp .title-sp {
  padding: 15px;
}
.box-cate-sp .title-sp a {
  font-size: 19px;
  color: #434343;
  line-height: 22px;
  font-weight: 700;
}
.box-cate-sp .no-img-links {
  border-bottom: 1px dotted #CCCCCC;
  margin: 10px;
  padding-bottom: 12px;
}
.box-cate-sp .no-img-links a {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #313131;
}

.empty-bg {
  width: 100%;
  height: 128px;
  background: #F2F2F2;
}

.list-blogs {
  padding-top: 22px;
}

.second-blogs-list {
  padding-top: 20px;
}

.related-suggestions {
  background: #2A3346;
  padding: 15px 15px 0px 15px;
  border-radius: 5px;
}
.related-suggestions ul {
  display: flex;
  flex-wrap: wrap;
}
.related-suggestions ul li {
  margin-right: 18px;
  margin-bottom: 15px;
}
.related-suggestions ul li:last-child {
  margin-right: unset;
}
.related-suggestions ul li a {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  transition: .3s ease-out;
}
.related-suggestions ul li a:hover {
  color: #F27C7D;
}
.related-suggestions ul li a::before {
  content: "\f101";
  font-family: "fontawesome";
  padding-right: 5px;
}

.remarkable {
  border-top: 1px solid #E7E7E7;
  margin-top: 20px;
  padding-top: 15px;
}
.remarkable .title-remarkable {
  padding-bottom: 15px;
}
.remarkable .title-remarkable h3 {
  font-size: 18px;
  color: #202020;
}

.event-box .title-event {
  background: #F9F9F9;
  border-top: 1px solid #E4E4E4;
  padding-top: 15px;
}
.event-box .title-event .text-box {
  border-left: 3px solid #CC0001;
  padding-left: 18px;
}
.event-box .title-event p {
  font-size: 14px;
  color: #777777;
  line-height: 20px;
  font-weight: 400;
}
.event-box .title-event .link-events {
  font-size: 20px;
  line-height: 30px;
  color: #1a1a1a;
  font-weight: 700;
  text-transform: uppercase;
}
.event-box .row {
  margin-top: 20px;
}
.event-box .row.no-gutters {
  margin-left: -10px;
  margin-right: -10px;
}
.event-box .row.no-gutters > .col, .event-box .row.no-gutters > [class*=col-] {
  padding-right: 10px;
  padding-left: 10px;
}

.list-video {
  background: #101C28;
  padding: 20px 0px;
}
.list-video .scrollbar-rail > .scroll-element {
  background: transparent;
}
.list-video .scrollbar-rail > .scroll-element .scroll-bar {
  background: #F6F6F6;
}
.list-video .title-video {
  border-bottom: 1px solid #233649;
  padding-bottom: 7px;
}
.list-video .title-video .title-in {
  font-size: 26px;
  color: #0b5384;
  font-weight: 600;
  text-transform: uppercase;
}
.list-video .title-video .title-in::before {
  content: "\f16a";
  font-family: "fontawesome";
  padding-right: 6px;
}
.list-video .tab-box {
  height: 400px;
  overflow-y: auto;
  margin-top: 14px;
}
@media only screen and (max-width: 576px) {
  .list-video .tab-box {
    height: auto;
  }
}
.list-video .tab-box .tab-title {
  background: #ebebeb;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #58595b;
  border-bottom: 1px solid #fff;
}
.list-video .nav {
  flex-direction: column;
}
@media only screen and (max-width: 576px) {
  .list-video .nav {
    flex-direction: row;
  }
}
.list-video .nav .nav-link {
  font-size: 16px;
  padding: 15px 10px;
  color: #353535;
  border: none;
  border-radius: unset;
}
.list-video .nav .nav-link.active {
  background: #192A3B;
}
.list-video .maps-right {
  padding: 5px;
  background: #fff;
}

.search-multi {
  background: #E6E8EC;
  padding: 8px;
}
.search-multi .tab-pane {
  padding: 2px 0px;
}
.search-multi .nav-tabs {
  border-bottom: unset;
}
.search-multi .nav-tabs .nav-item .nav-link {
  border: none;
  font-size: 13px;
  padding-left: 0px;
  padding-right: 10px;
  position: relative;
}
.search-multi .nav-tabs .nav-item .nav-link.active {
  background: transparent;
}
.search-multi .nav-tabs .nav-item .nav-link.active .check::before {
  background: #004370;
}
.search-multi .nav-tabs .nav-item .nav-link .check {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  border: 1px solid #767676;
  border-radius: 50%;
}
.search-multi .nav-tabs .nav-item .nav-link .check::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-46%, -53%);
}

.cate-support-links {
  padding: 20px 0px;
}

.main-detail {
  padding-top: 100px;
  background: #F2F3F5;
  padding-bottom: 30px;
}
.main-detail .container {
  background: #fff;
  padding-top: 30px;
  border-top: 5px solid #E2E7EC;
  border-right: 1px solid #E2E7EC;
  border-left: 1px solid #E2E7EC;
  border-radius: 4px 4px 0px 0px;
}
.main-detail .container .the_content {
  padding-top: 30px;
}

.heading-detail .detail-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  color: #181818;
}
.heading-detail .sub-title-dt {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 15px;
}
.heading-detail .sub-title-dt .date-dt {
  margin-bottom: 10px;
}
.heading-detail .sub-title-dt .date-dt span {
  font-size: 13px;
  font-weight: 400;
  color: #616161;
}
.heading-detail .sub-title-dt .date-dt span::after {
  content: "|";
  padding: 0px 7px;
}
.heading-detail .sub-title-dt .date-dt a {
  font-size: 13px;
  font-weight: 400;
  color: #616161;
}

.tags-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0px;
}
.tags-box .title h4 {
  font-size: 13px;
  font-weight: 700;
  color: #000;
}
.tags-box .title h4::before {
  content: "\f02c";
  font-family: "fontawesome";
  padding-right: 5px;
}
.tags-box .list-tags {
  padding-left: 10px;
}
.tags-box .list-tags a {
  font-size: 13px;
  color: #3d3d3d;
  font-weight: 500;
}
.tags-box .list-tags a:last-child::after {
  content: "";
}
.tags-box .list-tags a::after {
  content: ", ";
}

.share-fb.ct-ft {
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  padding: 15px 0px;
}

.no-images-blogs-dt .title-s {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 12px;
}
.no-images-blogs-dt .title-s .link {
  display: block;
  font-size: 16px;
  color: #333333;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  width: 70%;
}
.no-images-blogs-dt .title-s .see-more {
  font-size: 12px;
  color: #004370;
  font-weight: 400;
}
.no-images-blogs-dt .title-s .see-more:after {
  content: "\f101";
  font-family: "fontawesome";
  padding-left: 4px;
}
.no-images-blogs-dt .list-links {
  padding-top: 20px;
}
.no-images-blogs-dt .list-links ul li {
  position: relative;
  padding-left: 15px;
}
.no-images-blogs-dt .list-links ul li:before {
  content: "\f0da";
  font-family: "fontawesome";
  color: #D7D7D7;
  position: absolute;
  left: 0;
  top: 0px;
}
.no-images-blogs-dt .list-links ul li a {
  font-size: 13px;
  color: #004370;
  line-height: 20px;
  font-weight: 600;
  position: relative;
}

.related-blogs {
  padding: 25px 0px;
  margin-top: 25px;
  border-top: 1px solid #D9D9D9;
}
.related-blogs .heading-related {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.related-blogs .heading-related .form-calc-date form {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .related-blogs .heading-related .form-calc-date form {
    flex-direction: column;
    align-items: flex-start;
  }
}
.related-blogs .heading-related .form-calc-date form label {
  font-size: 14px;
  font-weight: 700;
  color: #393939;
  padding-right: 10px;
}
@media only screen and (max-width: 576px) {
  .related-blogs .heading-related .form-calc-date form label {
    padding-left: unset;
    padding-top: 10px;
  }
}
.related-blogs .heading-related .form-calc-date form select {
  height: 30px;
  font-size: 13px;
  padding: 4px 5px;
}
.related-blogs .heading-related .form-calc-date form .form-group {
  margin-bottom: unset;
}
@media only screen and (max-width: 576px) {
  .related-blogs .heading-related .form-calc-date form .form-group {
    margin-top: 10px;
  }
}
.related-blogs .heading-related .form-calc-date form .submit-box {
  padding-left: 10px;
}
@media only screen and (max-width: 576px) {
  .related-blogs .heading-related .form-calc-date form .submit-box {
    padding-left: unset;
    padding-top: 10px;
  }
}
.related-blogs .heading-related .form-calc-date form .submit-box button {
  padding: 3px 24px;
  color: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background: #004370;
  display: inline-block;
  border-radius: 5px;
}
.related-blogs .heading-related .title h3 {
  border-left: 4px solid #004370;
  padding-left: 15px;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-pages {
  position: relative;
}
