#footer {
    background: #F2F4F8;

    .container{
        &.has-pd-ct{
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }

    .title-ft{
        h4{
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
            color: #282828;
        }
    }

    .content-ft{
        padding-top: 20px;
        p{
            font-size: 13px;
            font-weight: 400;
            color: #282828;
            line-height: 22px;
        }
    }


    .end-ft{
        background: #EAEDF2;
        .container{
            padding-top: 7px;
            padding-bottom: 7px;
        }
        ul{
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            li{
                margin-right: 25px;

                &:last-child{
                    margin-right: unset;
                }

                a{
                    font-size: 13px;
                    color: #004370;
                }

                p{
                    font-size: 13px;
                    color: #282828;
                }
            }
        }
    }

    a.cd-top {
        display: inline-block;
        height: 40px;
        width: 40px;
        position: fixed;
        bottom: 50px;
        right: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        /* image replacement properties */
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        background: #004370 url('../images_icon/iconmonstr-arrow-66-16.png') no-repeat center 50%;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity .3s 0s, visibility 0s .3s;
        -moz-transition: opacity .3s 0s, visibility 0s .3s;
        transition: opacity .3s 0s, visibility 0s .3s;
        z-index: 999;
    }

    a.cd-top.cd-is-visible, a.cd-top.cd-fade-out, .no-touch a.cd-top:hover {
        -webkit-transition: opacity .3s 0s, visibility 0s 0s;
        -moz-transition: opacity .3s 0s, visibility 0s 0s;
        transition: opacity .3s 0s, visibility 0s 0s;
    }

    a.cd-top, a.cd-top:visited, a.cd-top:hover {
        color: #CCCCCC;
        text-decoration: none;
    }

    a.cd-top.cd-is-visible {
        /* the button becomes visible */
        visibility: visible;
        opacity: 1;
    }

    a.cd-top.cd-fade-out {
        /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
        opacity: 1;
    }
}
