.top-bar{
    background: #fff;
    box-shadow: 0 -4px 12px;
    padding: 5px 0px;

    @media only screen and (max-width: 1024px){
        &{
            .container{
                justify-content: center !important;
            }

            .moblie-bar{
                display: block !important;
            }
        }
    }
}

.header-main{
    .container{
        padding: 15px 0px;
    }
}

.header-bottom{
    background: #004370;

    @media only screen and (max-width: 1024px){
        &{
            display: none;
        }
    }
    .main-nav-bottom{
        ul{
            display: flex;
            position: relative;
            li{
                line-height: 42px;
                transition: .2s ease-out;

                &.has-child{
                    &:hover{
                        a{
                            .dot-mn{
                                transform: rotateY(90deg);
                                opacity: 0;
                                visibility: hidden;
                            }

                            &::before{
                                content:"\f00d";
                                font-family: "fontawesome";
                                font-size: 20px;
                                position: absolute;
                                left: 9px;
                                font-weight: 300;
                                transform: rotateY(0deg);
                                opacity: 1;
                                visibility: visible;
                            }
                        }

                        ul{
                            opacity: 1;
                            visibility: visible;
                            transform: rotateY(0deg);
                        }
                    }

                    a{
                        position: relative;
                        .dot-mn{
                            display: inline-block;
                            width: 4px;
                            height: 4px;
                            background: #fff;
                            border-radius: 50%;
                            transition: .3s ease-out;
                        }

                        &::before{
                            content:"\f00d";
                            font-family: "fontawesome";
                            font-size: 20px;
                            position: absolute;
                            left: 9px;
                            font-weight: 300;
                            transition: .3s ease-out;
                            opacity: 0;
                            visibility: hidden;
                            transform: rotateX(90deg);
                        }
                    }

                    ul{
                        position: absolute;
                        width: 100%;
                        left: 0;
                        background: #fff;
                        display: flex;
                        justify-content: space-between;
                        padding: 20px;
                        z-index: 99;
                        box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px 1px;
                        border-width: 1px 1px 1px;
                        border-style: none solid solid;
                        border-color: rgb(198, 198, 198) rgb(198, 198, 198) rgb(198, 198, 198);
                        border-image: initial;
                        border-top: none;
                        transition: .3s ease-out;
                        transform-origin: (100% 0%);
                        transform: rotateX(90deg);

                        li{
                            font-size: 16px;
                            color: #333333;
                            font-weight: 700;
                            line-height: 22px;

                            a{
                                &::before{
                                    display: none;
                                }
                            }

                            &:hover{
                                background: unset;
                            }

                            &.special-li{
                                ul{
                                    padding-left: 20px;
                                    li{
                                        list-style-type: square;
                                        color: #004370;

                                        a{
                                            color: #004370;
                                        }
                                    }
                                }
                            }

                            ul{
                                flex-direction: column;
                                padding: 20px 0px 0px 0px;
                                position: relative;
                                box-shadow: none;
                                border: none;
                                li{
                                    a{
                                        font-size: 13px;
                                        color: #535353;
                                        text-transform: unset;
                                        display: inline-block;
                                        transition: .3s ease-out;

                                        &:hover{
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &:hover{
                    background: #0064A6;
                }

                a{
                    display: block;
                    font-weight: 400;
                    color: #fefefe;
                    text-transform: uppercase;
                    font-size: 13px;
                    padding: 0px 7.5px;
                }
            }
        }
    }
}