@import "reset";
@import "header";
@import "footer";
@import "mobile_nav";
@import "_the-content";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

// ------------------------------------------------------------------------ elements ------------------------------------------------------------------------

.box-news-header{
    padding-left: 25px;
    padding-right: 25px;

    .scrollbar-rail > .scroll-element .scroll-bar{
        background: #004370;
    }

    @media only screen and (max-width: 768px){
        &{
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .news-hd-content{
        height: 150px;
        overflow-y: scroll;
        padding-right: 15px;
    }
    .title-news-hd{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #F0F0F0;
        padding-bottom: 5px;
        h3{
            font-size: 12px;
            text-transform: uppercase;
            color: #c90000;
        }

        a{
            font-size: 12px;
            color: #666666;
            transition: .3s ease-out;
            &:hover{
                color: #CC0000;
            }

            &:after{
                content:"\f101";
                font-family: "fontawesome";
                padding-left: 3.5px;
            }
        }
    }

    .blog-news-hd{
        display: flex;
        align-items: center;
        border-bottom: 1px solid #F0F0F0;
        padding: 8px 0px;
        .time{
            span{
                font-size: 12px;
                color: #666666;

            }
        }

        .title-blog{
            margin-left: 15px;
            padding-left: 10px;
            
            a{
                font-size: 12px;
                font-weight: 700;
                color: #0b75b1;
                line-height: 16px;
                border-left: 1px solid #E4E4E4;
                
            }
        }
    }
}

.blogs-divide-s{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    @media only screen and(max-width: 576px){
        &{
            flex-direction: column;
        }
    }

    .big-title{
        flex: 0 0 100%;
        padding-bottom: 15px;
        a{
            font-size: 23px;
            font-weight: 700;
            color: #1c1c1c;
            line-height: 30px;
        }
    }

    .box-text{
        flex: 0 0 50%;
        background: #ECF8FF;
        padding: 10px;
        p{
            font-size: 14px;
            color: #5f5f5f;
            line-height: 21px;
        }
    }

    .box-images{
        flex: 0 0 50%;
        height: 230px;
        max-width: 100%;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
        }
    }
}

.blogs-box{
    margin-bottom: 20px;
    &.normal-cs{
        &:hover{
            .box-text{
                .title{
                    a{
                        color: #004370;
                    }
                }
            }
        }

        .box-images{
            max-width: 100%;
            height: 145px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }

        .box-text{
            padding-top: 10px;
            .title{
                a{
                    font-size: 15px;
                    font-weight: 600;
                    color: #1c1c1c;
                    line-height: 22px;
                    transition: .3s ease-out;
                }
            }
        }
    }

    &.normal-cs-height{
        border-left: 1px solid #e4e4e4;
        border-right: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4;
        position: relative;

        &::after{
            height: 4px;
            width: 98%;
            position: absolute;
            bottom: -5px;
            left: 3px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background: #f6f6f6;
            content: '';
            display: block;
        }

        &:hover{
            .box-text{
                .title{
                    a{
                        color: #004370;
                    }
                }
            }
        }

        .box-images{
            max-width: 100%;
            height: 145px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }

        .box-text{
            padding: 10px;
            .title{
                a{
                    font-size: 16px;
                    font-weight: 600;
                    color: #1c1c1c;
                    line-height: 22px;
                    transition: .3s ease-out;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    height: 84px;
                }
            }

            .infor-cate{
                padding-top: 15px;
                span{
                    font-size: 12px;
                    font-weight: 400;
                    color: #929292;
                }
            }
        }
    }

    &.vertical-blogs{
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #F4F4F4;
        padding-bottom: 15px;
        margin-bottom: 15px;

        &.res-single{
            @media only screen and (max-width: 576px){
                &{
                    flex-direction: column;

                    .box-text{
                        padding-left: 0px;
                        padding-top: 15px;
                    }
                }
            }
        }

        &.no-border-bt{
            margin-bottom: 30px;
            border-bottom: 1px solid unset;

            &:last-child{
                margin-bottom: 30px;
            }

            .box-text{
                .desc{
                    span{
                        font-size: 13px;
                        color: #666666;
                        font-weight: 300;
                    }
                }
            }
        }

        &:last-child{
            border-bottom: unset;
            padding-bottom: unset;
            margin-bottom: unset;
        }

        &:hover{
            .box-images{
                img{
                    transform: scale(1.1);
                }
            }

            .box-text{
                .title{
                    a{
                        color: #0d78b7;
                    }
                }
            }
        }

        .box-images{
            max-width: 100%;
            height: auto;
            overflow: hidden;
            flex: 0 0 35%;
            img{
                width: 100%;
                height: auto;
                vertical-align: middle;
                transition: .3s ease-out;
            }

            &.single-height{
                height: 234px;

                img{
                    height: 100%;
                }
            }
        }

        .box-text{
            flex: 0 0 65%;
            padding-left: 18px;

            .title{
                a, p{
                    color: #333333;
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 700;
                    transition: .3s ease-out;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &.bg-title{
                    a, p{
                        font-size: 23px;
                        line-height: 30px;
                    }
                }

                &.sm-title{
                    a, p{
                        font-size: 15px;
                        color: #c3c3c3;
                    }
                }
            }    

            .cate{
                padding-top: 15px;
                a{
                    font-size: 15px;
                    color: #404f5d;
                    font-weight: 500;
                }

                .date-post{
                    font-size: 13px;
                    color: #929292;
                }
            }

            .date{
                padding-top: 13px;
                span{
                    font-size: 14px;
                    color: #999999;
                    font-weight: 300;

                    

                    &::before{
                        content:"\f017";
                        font-family: "fontawesome";
                        padding-right: 5px;
                    }

                    &:first-child{
                        padding-right: 20px;
                    }

                    &:last-child{
                        &::before{
                            content: "";
                        }
                    }

                    @media only screen and (max-width: 576px){
                        &{
                            display: block;
                        }

                        &:last-child{
                            padding-left: 0px;
                            padding-top: 2px;
                            &::before{
                                content: "";
                            }
                        }
                    }
                }
            }

            .desc{
                padding-top: 13px;
                span{
                    font-size: 14px;
                    color: #5f5f5f;
                    font-weight: 400;
                    line-height: 22px;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    height: 63px;
                }
            }

            .blog-see-more{
                padding-top: 17px;
                a{
                    display: inline-block;
                    padding: 10px 28px;
                    font-size: 15px;
                    color: #333333;
                    background: #E4E4E4;
                    transition: .3s ease-out;

                    &:hover{
                        background: #105B8B;
                        color: #fff;
                    }
                }
            }
        }

    }
}

.form-spe-search{
    background: #fff;
    display: flex;
    border: 1px solid #D4D6D9;
    padding: 5px 4px;
    
    input{
        width: 100%;
        padding-left: 10px;
        border:none;
        outline: none;
        font-size: 13px;
    }

    button{
        color: #fff;
        background: #575E6B;
    }
}

.box-cate-sp{
    border: 1px solid #e4e4e4;
    position: relative;
    border-radius: 5px;
    margin-bottom: 25px;

    .first-big{
        .images-box{
            max-width: 100%;
            height: 209px;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                vertical-align: middle;
            }
        }

        .box-text{
            border-bottom: 1px dotted #CCCCCC;
            margin: 10px;
            padding-bottom: 12px;
            .title{
                
                a{
                    font-size: 16px;
                    line-height: 23px;
                    color: #313131;
                    font-weight: 700;
                }
            }
        }
    }


    &::after{
        height: 4px;
        width: 98%;
        position: absolute;
        bottom: -5px;
        left: 3px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background: #f6f6f6;
        content: '';
        display: block;
    }

    .title-sp{
        padding: 15px;
        a{
            font-size: 19px;
            color: #434343;
            line-height: 22px;
            font-weight: 700;
        }
    }

    .no-img-links{
        border-bottom: 1px dotted #CCCCCC;
            margin: 10px;
            padding-bottom: 12px;
        a{
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: #313131;
        }
    }
}
// ------------------------------------------------------------------- trang chu -------------------------------------------------------------------------------

.empty-bg{
    width: 100%;
    height: 128px;
    background: #F2F2F2;
}

.list-blogs{
    padding-top: 22px;
}

.second-blogs-list{
    padding-top: 20px;
}

.related-suggestions{
    background: #2A3346;
    padding: 15px 15px 0px 15px;
    border-radius: 5px;
    ul{
        display: flex;
        flex-wrap: wrap;

        li{
            margin-right: 18px;
            margin-bottom: 15px;

            &:last-child{
                margin-right: unset;
            }
            a{
                color: #fff;
                font-size: 13px;
                font-weight: 500;
                transition: .3s ease-out;

                &:hover{
                    color: #F27C7D;
                }

                &::before{
                    content:"\f101";
                    font-family: "fontawesome";
                    padding-right: 5px;
                }
            }
        }
    }
}

.remarkable{
    border-top: 1px solid #E7E7E7;
    margin-top: 20px;
    padding-top: 15px;
    .title-remarkable{
        padding-bottom: 15px;
        h3{
            font-size: 18px;
            color: #202020;
        }
    }
}

.event-box{
    .title-event{
        background: #F9F9F9;
        border-top: 1px solid #E4E4E4;
        padding-top: 15px;

        .text-box{
            border-left: 3px solid #CC0001;
            padding-left: 18px;
        }
        p{
            font-size: 14px;
            color: #777777;
            line-height: 20px;
            font-weight: 400;
        }

        .link-events{
            font-size: 20px;
            line-height: 30px;
            color: #1a1a1a;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .row{
        margin-top: 20px;

        &.no-gutters{
            margin-left: -10px;
            margin-right: -10px;
        }
        &.no-gutters>.col, &.no-gutters>[class*=col-] {
            padding-right: 10px;
            padding-left: 10px;
        }
    }
}

.list-video{
    background: #101C28;
    padding: 20px 0px;
    .scrollbar-rail > .scroll-element{
        background: transparent;
    }

    .scrollbar-rail > .scroll-element .scroll-bar{
        background: #F6F6F6;
    }

    .title-video{
        border-bottom: 1px solid #233649;
        padding-bottom: 7px;
        .title-in{
            font-size: 26px;
            color: #0b5384;
            font-weight: 600;
            text-transform: uppercase;

            &::before{
                content:"\f16a";
                font-family: "fontawesome";
                padding-right: 6px;
            }
        }
    }

    .tab-box{
        height: 400px;
        overflow-y: auto;   
        margin-top: 14px;

        @media only screen and (max-width: 576px){
            &{
                height: auto;
            }
        }

        .tab-title{
            background: #ebebeb;
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            color: #58595b;
            border-bottom: 1px solid #fff;
        }

        
    }
    .nav{
        flex-direction: column;

        @media only screen and (max-width: 576px){
            &{
                flex-direction: row;
            }
        }

        .nav-link{
            font-size: 16px;
            padding: 15px 10px;
            color: #353535;
            border:none;
            border-radius: unset;

            &.active{
                background: #192A3B;
            }
        }
    }

    .maps-right{
        padding: 5px;
        background: #fff;
    }
}


.search-multi{
    background: #E6E8EC;
    padding: 8px;
    .tab-pane{
        padding: 2px 0px;
    }

    .nav-tabs{
        border-bottom: unset;
        .nav-item{          
            .nav-link{
                border: none;
                font-size: 13px;
                padding-left: 0px;
                padding-right: 10px;
                position: relative;
                
                &.active{
                    background: transparent;
                    .check{
                        &::before{
                            background: #004370;
                        }
                    }
                    
                }
                .check{
                    display: inline-block;
                    position: relative;
                    width: 15px;
                    height: 15px;
                    border: 1px solid #767676;
                    border-radius: 50%;

                    
                    &::before{
                        content: "";
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-46%, -53%);
                    }
                }  
                
            }
        }
    }
}

.cate-support-links{
    padding: 20px 0px;
}

// -------------------------------------------------------------------- chi tiet tin tuc -----------------------------------------------------------------------


.main-detail{
    padding-top: 100px;
    background: #F2F3F5;
    padding-bottom: 30px;
    .container{
        background: #fff;
        padding-top: 30px;
        border-top: 5px solid #E2E7EC;
        border-right: 1px solid #E2E7EC;
        border-left: 1px solid #E2E7EC;
        border-radius: 4px 4px 0px 0px;

        .the_content{
            padding-top: 30px;
        }
    }
}

.heading-detail{
    .detail-title{
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        color: #181818;
    }

    .sub-title-dt{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 25px;
        border-bottom:1px solid #D9D9D9;
        padding-bottom: 15px;

        .date-dt{
            margin-bottom: 10px;
            span{
                font-size: 13px;
                font-weight: 400;
                color: #616161;

                &::after{
                    content: "|";
                    padding: 0px 7px;
                }
            }

            a{
                font-size: 13px;
                font-weight: 400;
                color: #616161;
            }
        }
    }
}

.tags-box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0px;
    .title{
        h4{
            font-size: 13px;
            font-weight: 700;
            color: #000;

            &::before{
                content:"\f02c";
                font-family: "fontawesome";
                padding-right: 5px;
            }
        }
    }

    .list-tags{
        padding-left: 10px;

        a{
            font-size: 13px;
            color: #3d3d3d;
            font-weight: 500;

            &:last-child{
                &::after{
                    content:"";
                }
            }

            &::after{
                content: ", "
            }
        }
    }
}

.share-fb{
    &.ct-ft{
        border-top: 1px solid #D9D9D9;
        border-bottom: 1px solid #D9D9D9;
        padding: 15px 0px;
    }
}

.no-images-blogs-dt{
    .title-s{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 1px solid #D9D9D9;
        padding-bottom: 12px;

        .link{
            display: block;
            font-size: 16px;
            color: #333333;
            line-height: 20px;
            text-transform: uppercase;
            font-weight: 700;
            width: 70%;
        }

        .see-more{
            font-size: 12px;
            color: #004370;
            font-weight: 400;

            &:after{
                content:"\f101";
                font-family: "fontawesome";
                padding-left: 4px;
            }
        }
    }

    .list-links{
        padding-top: 20px;
        ul{
            li{
                position: relative;
                padding-left: 15px;
                &:before{
                    content:"\f0da";
                    font-family: "fontawesome";
                    color: #D7D7D7;
                    position: absolute;
                    left: 0;
                    top: 0px;
                }
                a{
                    font-size: 13px;
                    color: #004370;
                    line-height: 20px;
                    font-weight: 600;
                    position: relative;
                    
                }
            }
        }
    }
}

.related-blogs{
    padding: 25px 0px;
    margin-top: 25px;
    border-top: 1px solid #D9D9D9;
    .heading-related{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .form-calc-date{
            form{
                display: flex;
                align-items: center;

                @media only screen and (max-width: 576px){
                    &{
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }

                label{
                    font-size: 14px;
                    font-weight: 700;
                    color: #393939;
                    padding-right: 10px;
                    @media only screen and (max-width: 576px){
                        &{
                            padding-left: unset;
                            padding-top: 10px;
                        }
                    }
                }

                select{
                    height: 30px;
                    font-size: 13px;
                    padding: 4px 5px;
                }

                .form-group{
                    margin-bottom: unset;
                    @media only screen and (max-width: 576px){
                        &{
                            margin-top: 10px;
                        }
                    }
                    
                }

                .submit-box{
                    padding-left: 10px;

                    @media only screen and (max-width: 576px){
                        &{
                            padding-left: unset;
                            padding-top: 10px;
                        }
                    }
                    button{
                        padding: 3px 24px;
                        color: 12px;
                        text-transform: uppercase;
                        font-weight: 700;
                        color: #fff;
                        background: #004370;
                        display: inline-block;
                        border-radius: 5px;
                    }
                }
            }
        }

        .title{
            h3{
                border-left: 4px solid #004370;
                padding-left: 15px;
                font-size: 17px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
}

// -------------------------------------------------------------------- pages tim kiem ---------------------------------------------------------------------------

.search-pages{
    position: relative;
    
    .hidden-chossen{
        
    }
}

